<div class="container">
    <nav class="navbar">
        <div class="navbar-left">
          <img src="path/to/logo.png" alt="Website Logo" class="logo">
        </div>
        <div class="navbar-center">
          <h2>Invoice Management System</h2>
        </div>
        <div class="navbar-right">
          <ul class="navbar-tabs">
            <li><a href="#">Company</a></li>
            <li><a href="#">Vendor</a></li>
            <li><a href="#">Invoice</a></li>
          </ul>
        </div>
      </nav>

      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
        <div class="details">

          <fieldset class="invoiceDetails" *ngIf="currentStep === 1">
                <legend>Invoice Details</legend>
                <label for="invoiceNumber">Invoice Number:</label>
                <input type="text" formControlName="invoiceNumber">
                <div *ngIf="invoiceForm.controls['invoiceNumber'].touched && invoiceForm.controls['invoiceNumber'].errors?.['required']">
                  <span>This is required</span>
                </div>
                <div *ngIf="invoiceForm.controls['invoiceNumber'].errors?.['positive']">
                  <span>Invoice Number should be positive.</span>
                </div>
                <div *ngIf="invoiceForm.controls['invoiceNumber'].errors?.['pattern']">
                  <span>Invoice Number should be a valid number (only digits and dashes allowed).</span>
                </div>
          
                <label for="invoiceDate">Invoice Date:</label>
                <input type="date" formControlName="invoiceDate">
                <div *ngIf="invoiceForm.controls['invoiceDate'].touched && invoiceForm.controls['invoiceDate'].errors?.['required']">
                  <span>This is required</span>
                </div>
                <div *ngIf="invoiceForm.controls['invoiceDate'].errors?.['dateValidator']">
                  <span>Invalid Date format</span>
                </div>
          
                <label for="paymentDueDate">Payment Due Date:</label>
                <input type="date" formControlName="paymentDueDate">
                <div *ngIf="invoiceForm.controls['paymentDueDate'].touched && invoiceForm.controls['paymentDueDate'].errors?.['required']">
                  <span>This is required</span>
                </div>
              </fieldset>

              <fieldset class="referenceDetails" *ngIf="currentStep === 2">
                <legend>Reference Details</legend>
                <label for="referenceNumber">Reference Number:</label>
                <input type="text" formControlName="referenceNumber">
                <div *ngIf="invoiceForm.controls['referenceNumber'].touched && invoiceForm.controls['referenceNumber'].errors?.['pattern']">
                  <span>Reference Number should be a valid number (only digits).</span>
                </div>
               <label for="referenceDate">Reference Date:</label>
                <input type="date" formControlName="referenceDate">
              </fieldset>


              <fieldset class="tax" *ngIf="currentStep===3">
                <legend>Tax Details</legend>
                <label for="gst">GST:</label>
                <input type="number" formControlName="gst">
                <div *ngIf="invoiceForm.controls['gst'].touched && invoiceForm.controls['gst'].errors?.['required']">
                  <span>This is required</span>
                </div>
          
                <label for="cgst">CGST:</label>
                <input type="number" formControlName="cgst">
          
                <label for="igst">IGST:</label>
                <input type="number" formControlName="igst">
          
                <label for="sgst">SGST:</label>
                <input type="number" formControlName="sgst">
              </fieldset>


              <fieldset class="items" *ngIf="currentStep===4">
                <legend>Items</legend>
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="items">
                      <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                        <td><input type="text" formControlName="name"></td>
                        <td><input type="text" formControlName="description"></td>
                        <td><input type="number" formControlName="quantity"></td>
                        <td><input type="number" formControlName="rate"></td>
                        <td><input type="number" formControlName="amount"></td>
                        <td><input type="number" formControlName="total" [readonly]="true"></td>
                        <td><button type="button" (click)="removeItem(i)">Remove</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="button" (click)="addItem()">Add Item</button>
              </fieldset>

        </div>

         <div class="form-navigation">
          <button type="button" (click)="goBack()" [disabled]="currentStep === 1">Back</button>
          <button type="button" (click)="goForward()" [disabled]="currentStep === 4">Next</button>
        </div>

</form>

<!-- <footer class="footer">
  <p>&copy; 2024 Invoice Management App. All rights reserved.</p>
</footer> -->

</div>